.bannerBgImage{
    height: 100vh;
    background: url("./images/homepic.jpeg");
    background-size: cover;
    position: relative;
}

.bannerText{
    text-align: center;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
}

.bannerTitle{
    font-size: 4rem;
    font-family: cursive;
}

.bannerDesc{
    font-size: 4rem;
    font-family: cursive;
}

.card{
    cursor: pointer;
}

.card:hover{
    background-color: palevioletred;
    border: 2px solid yellowgreen; 
}

.bIcon{
    width:100%;
    text-align: center;
    font-size: 40px;
}

.img-fluid:hover{
    border: 2px solid yellowgreen; 
}

.card-img-top{
    height: 50vh;
}
body{
   
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgb(248, 172, 209),rgb(241, 244, 174))
 }